<template name="quoteItem">
	<article class="article">
		<div class="post-area">
	        <div class="single-about">
	            <div class="about-us-img pull-left" style="width:200px;"> 
                    <a href="{{pathFor 'quotePage'}}"><img src="/images/img/{{autor}}.jpg" alt="" class="img-circle"></a>
	            </div>
	            <div class="about-us-text">
	                <a href="{{pathFor 'quotePage'}}" class="quote"><h3 class="text-uppercase">{{autor}}</h3></a>
	                <h5>{{profesion}}</h5>
					<p class="quote">"{{frase}}"</p>
					<div class="decoration">
                    	<a href="#" class="upvote btn btn-default {{upvotedClass}}">⬆ Votos ({{votes}})</a>
                        <a href="{{pathFor 'quotePage'}}" class="btn btn-default">Ver Frase</a>
                    	 {{#if ownQuote}}
                    	 	<a href="{{pathFor 'quoteEdit'}}" class="btn btn-default">Editar Frase</a>
                    	 {{/if}}
               	 	</div>
               	 	<div class="social-share">
						<span class="social-share-title pull-left text-capitalize">Por {{creador}} el {{submitted}}</span>
                        <br/><br/><br/>
                        <span class="social-share-title pull-left text-capitalize">
                            <a href="{{pathFor 'quotePage'}}">{{commentsCount}} Comentarios, </a>
                            {{votes}} Votos
                        </span>
                    </div>
	            </div>
	        </div>
		</div>
    </article>
</template>