<template name="quoteItem">
	<article class="article">
		<div class="post-area">
	        <div class="single-about">
	            <div class="about-us-img pull-left">
	                <img src="images/img/{{autor}}.jpg" alt="" class="img-circle">
	            </div>
	            <div class="about-us-text">
	                <h3 class="text-uppercase">{{autor}}</h3>
	                <h5>{{profesion}}</h5>
					<p>"{{frase}}"</p>
					<div class="decoration">
                    	<a href="#" class="upvote btn btn-default {{upvotedClass}}">⬆ Votos ({{votes}})</a>
                        <a href="{{pathFor 'quotePage'}}" class="btn btn-default">Ver Frase</a>
                    	 {{#if ownQuote}}
                    	 	<a href="{{pathFor 'quoteEdit'}}" class="btn btn-default">Editar Frase</a>
                    	 {{/if}}
               	 	</div>
               	 	<div class="social-share">
						<span class="social-share-title pull-left text-capitalize">Por {{creador}} el {{submitted}}</span>
                        <br/><br/><br/>
                        <span class="social-share-title pull-left text-capitalize">
                            <a href="{{pathFor 'quotePage'}}">{{commentsCount}} Comentarios, </a>
                            {{votes}} Votos
                        </span>
                    </div>
	            </div>
	        </div>
		</div>
    </article>
</template>