<template name="layout">
    <body>
        {{> header}}
        {{> errors}}
        <!--main content start-->
        <div class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div id="main">
                            {{> yield}} 
                        </div>
                    </div>
                    <div class="col-md-4" data-sticky_column>
                        <div class="primary-sidebar">
                            <aside class="widget about-me-widget">
                                <div class="about-me-img">
                                    <div class="about-me-content text-center">
                                        <img src="images/me.png" alt="" class="img-me">
                                        <h3 class="text-uppercase">Don Meteor</h3>
                                        <p>Soy Don Meteor, un apasionado por Meteor.js (Full Stack Javascript Framework). Este sitio es mi primer pasatiempos hecho bajo este Framework. Para éste proyecto, ningún ánimo de lucro, solo mantenerme inspirado (y quizás inspirar a otros) con frases de emprendedores que admiro. No trabajo freelance, ni como developer, ésta sólo es mi pasión y mi pasatiempo. Quizás algún día tenga un unicornio de mascota. </p>
                                    </div>
                                </div>
                            </aside>
                            <!--
                            <aside class="widget border pos-padding">
                                <h3 class="widget-title text-uppercase text-center">Categories</h3>
                                <ul>
                                    <li>
                                        <a href="">Food & Drinks</a>
                                        <span class="post-count pull-right"> (2)</span>
                                    </li>
                                    <li>
                                        <a href="">Travel</a>
                                        <span class="post-count pull-right"> (2)</span>
                                    </li>
                                    <li>
                                        <a href="">Business</a>
                                        <span class="post-count pull-right"> (2)</span>
                                    </li>
                                    <li>
                                        <a href="">Story</a>
                                        <span class="post-count pull-right"> (2)</span>
                                    </li>
                                    <li>
                                        <a href="">DIY & Tips</a>
                                        <span class="post-count pull-right"> (2)</span>
                                    </li>
                                    <li>
                                        <a href="">Lifestyle</a>
                                        <span class="post-count pull-right"> (2)</span>
                                    </li>
                                </ul>
                            </aside>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end main content-->
        <footer class="footer-widget-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <aside class="footer-widget">
                            <div class="about-img"><img src="images/footer-logo.png" alt="Kotha"></div>
                            <div class="about-content">
                                Soy Don Meteor, un apasionado por Meteor.js (Full Stack Javascript Framework). Este sitio es mi primer pasatiempos hecho bajo este Framework. Para éste proyecto, ningún ánimo de lucro, solo mantenerme inspirado (y quizás inspirar a otros) con frases de emprendedores que admiro. No trabajo freelance, ni como developer, ésta sólo es mi pasión y mi pasatiempo. Quizás algún día tenga un unicornio de mascota.
                            </div>
                        </aside>
                    </div>
                    <div class="col-md-4">
                        <aside class="footer-widget">
                            <h3 class="widget-title text-uppercase">Testimonios</h3>
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!--Indicator-->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <div class="single-review">
                                            <div class="review-text">
                                                <p>Me ha gustado mucho el sitio, me inspira, me emociona, me informa</p>
                                            </div>
                                            <div class="author-id">
                                                <img src="images/author.png" alt="">
                                                <div class="author-text">
                                                    <h4>Sofia</h4>
                                                    <h4>CEO, ReadyTheme</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="single-review">
                                            <div class="review-text">
                                                <p>Bien diseñado, agradable, funcional</p>
                                            </div>
                                            <div class="author-id">
                                                <img src="images/author.png" alt="">
                                                <div class="author-text">
                                                    <h4>Clara</h4>

                                                    <h4>Fundador, Matchingadd.com</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="single-review">
                                            <div class="review-text">
                                                <p>Me interesa saber que piensan los emprendedores digitales. Es perfecta!</p>
                                            </div>
                                            <div class="author-id">
                                                <img src="images/author.png" alt="">
                                                <div class="author-text">
                                                    <h4>Andrea</h4>
                                                    <h4>CTO, Mangobiche.com</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </aside>
                    </div>
                    <div class="col-md-4">
                        <aside class="footer-widget">
                            <h3 class="widget-title text-uppercase">Meteor.js</h3>
                            <div class="custom-post">
                                <div>
                                    <a href=""><img src="images/portada.jpg" alt=""></a>
                                </div>
                                <div>
                                    <a href="#" class="text-uppercase">El mejor Framework Javascript</a>
                                    <span class="p-date">Septiembre 24, 2016</span>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <div class="footer-copy">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">&copy; 2016 <a href="">Kotha PRO</a>,Diseñado con <i
                                    class="fa fa-heart"></i>
                                por <a href="#">Don Meteor</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</template>