    <template name="header">
        <nav class="navbar main-menu navbar-default">
            <div class="container">
                <div class="menu-content">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{pathFor 'home'}}"><img src="/images/logo.png" alt=""></a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav text-uppercase">
                            <li><a href="{{pathFor 'newQuotes'}}">Nuevos</a></li>
                            <li><a href="{{pathFor 'bestQuotes'}}">Los Mejores</a></li>
                            {{#if isInRole 'admin'}}
                                <li><a href="{{pathFor 'quoteSubmit'}}">Subir Frase</a></li>
                                {{> notifications}}
                            {{/if}}
                            <li><a>{{> loginButtons}}</a></li>
                        </ul>
                        <div class="i_con">
                            <a target="_blank" href="https://twitter.com/mentorappclub"><i class="active fa fa-twitter"></i></a>
                            <a target="_blank" href="https://www.facebook.com/mentorapp.club"><i class="fa fa-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </nav>
    </template>

